- extends "base_site.haml"
- block body_class
  cal
- block main
  %h1
    Календарь
  %table{"cellspacing": "0"}
    %tr
      %th
      %th
      %th{"colspan": "2"} Неделя 1
      %th{"colspan": "2"} Неделя 2
    %tr
      %th День
      %th Время
      %th Группа
      %th Предмет
      %th Группа
      %th Предмет
    - for week_day in timetable
      - for lesson_week1, lesson_week2 in week_day
        %tr{"class": "{% cycle 'even' 'odd' %}"}
          - if forloop.first
            %th{"rowspan": '{{ week_day|length }}'}
              %span.weekday Пон

          %td= lesson_week1.subject.start_datetime|date:"TIME_FORMAT"
          %td= lesson_week1.subject.group
          %td= lesson_week1.subject.name
          %td= lesson_week2.subject.group
          %td= lesson_week2.subject.name
