- extends "base_site.haml"
- load i18n
- block title
  - trans "Календарь"
- block body_class
  cal
- block main
  %h1
    - trans "Календарь"
  %table{"cellspacing": "0"}
    %tr
      %th
      %th
      %th{"colspan": "2"}
        - trans "Неделя 1"
      %th{"colspan": "2"}
        - trans "Неделя 2"
    %tr
      %th
        - trans "День"
      %th
        - trans "Время"
      %th
        - trans "Группа"
      %th
        - trans "Предмет"
      %th
        - trans "Группа"
      %th
        - trans "Предмет"
    - for week_day, week_day_lessons in week
      - for subject_week1, subject_week2 in week_day_lessons
        %tr{"class": "{% cycle 'even' 'odd' %}"}
          - if forloop.first
            %th{"rowspan": '{{ week_day_lessons|length }}'}
              %span.weekday= week_day

          %td= subject_week1.start_datetime|date:"TIME_FORMAT"
          %td= subject_week1.group
          %td= subject_week1.name
          %td= subject_week2.group
          %td= subject_week2.name
